<h1>Hello Beds!</h1>

<% @beds.each do |bed| %>
  <h4>Name: <a href="/beds/<%= bed.id %>"><%= bed.name %></a></h4>
  <h4>Top or Bottom: <%= bed.top_or_bottom %></h4>
  <h4>Occupied: <%= bed.occupied %></h4>
  <a href="/beds/<%= bed.id %>/edit">Edit Bed</a>
<% end %>