<!DOCTYPE html>
<html>
<head>
  <title>SjomApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
 <% if session[:user_id] %>
 <!--navigation-->
 <nav class="navbar navbar-default navbar-fixed-top top-navbar">
  <div class="container-fluid">
    <div class="navbar-header"> 
      <%= image_tag "Logo-Web-copia.png", class: "logo", alt: "company logo" %>
    </div>
    <ul class="nav navbar-nav">
      <li><h4>Operations Portal</h4></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Joe Manager</a></li>
      <li class="right-margin"><button class="btn btn-default navbar-btn sharp "><span class="glyphicon glyphicon-log-in"></span><a href="/logout"> Logout</button></li>
    </ul>
  </div>
</nav> 

<div class="navbar navbar-default navbar-fixed-left nav-width">
  <ul class="nav navbar-nav">
    <li><a href="/residents"><i class="fa fa-home"></i><span> Residents </span></a></li>
    <li><a href="/beds"><i class="fa fa-info-circle"></i><span> Beds </span></a></li>
    <li><a href="/users"><i class="fa fa-heart"></i><span> Users </span></a></li>
  </ul>
</div>
<% end %>
<!--end navigation-->

<div class="container">
  <% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
  </div>
  <% end %>
  <div class="body-container">
    <%= yield %>
  </div>
</div>
</body>
</html>
